{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>

  <link rel="shortcut icon" href="{% static 'img/logo.png' %}" >
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/header.css' %}">

</head>
<body>
  <header class="header">
    <div class="container">
      <a class="heder__logo logo" href="/">
        <img src="{% static 'img\logo.png' %}" alt="logo">
        <p>QuickPick </p>
      </a>

      <nav class="header__nav nav">
        <ul>
          <li class="nav__element"><a href="/">home</a></li>
          <li class="nav__element"><a href="/shop/">catalog</a></li>
          <li class="nav__element"><a href="/about">info</a></li>
        </ul>
      </nav>

      <div class="header__personal">
        <button class="header__btn header__btn-search btn">search</button>
        <button class="header__btn header__btn-profile btn">profile</button>
        <button class="header__btn header__btn-cart btn">cart</button>
      </div>
    </div>
  </header>

  <section class="main-section">
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </section>

  <script src="{% static 'js\index.js' %}"></script>
</body>
</html>